@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
.App{
  width: 100% ;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}


/* navbar */
header{
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
}
header h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
  font-size: 27px;
}
header nav a{
  text-decoration: none;
  padding: 7px 12px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}

.logo{
  display: flex;
  align-items: center;
  gap:1rem;
}
.logo img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
/* help layout */
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
.help-layout nav a{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}
.help-layout nav a:hover{
  border-color: var(--primary);
}
.help-layout nav a.active {
  background: var(--primary);
}

/* faq */
.faq .question {
  background: rgba(0,0,0,0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */
.con{
  width: 100%;
}
.con h1{
  text-align: center;
}
form {
  margin: 30px auto;
  width: 50%;
}
form input, form label span, form textarea {
  display: block;
}
form input, form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  color: var(--secondary);
  width: 90%;
}
form label span {
  margin-bottom: 10px;
}
.con button{
  width: 120px;
  height: 40px;
}

/* careers list */
.careers > .navy {
  display: block;
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}
.careers > .navy:hover a {
  color: var(--primary);
}
.careers p {
  margin: 0;
}
.careers > .navy p:last-child {
 font-size: 0.8em;
 color: #bbb;
}


/* careers details */
.career-details {
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
}
